.manage-schedule-container{
    .m-s-title{
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 17px;
        text-align: center;
    }
    .pick-hour-container{
        height: 150px;
    }
}