.login-background {
    height: 100vh;
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

    .login-container {
        background: white;
        width: 400px;
        height: 450px;
        border-radius: 10px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        .login-content {
            padding: 15px;

            .login-text {
                text-align: center;
                font-weight: 600;
                font-size: 25px;
                padding-top: 10px;
            }

            .login-input {
                margin: 7px 0;

                .custom-input-password {
                    position: relative;
                    i{
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }

            .btn-login {
                background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
                width: 100%;
                margin: 10px 0;
                height: 35px;
                border-radius: 15px;
                outline: none;
                border: none;
                color: white;
            }

            .forgot-password {
                font-size: 12px;
            }

            .social-login {
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;

                .google {
                    font-size: 30px;
                    background: rgb(233, 58, 58);
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin-right: 10px;
                }

                .facebook {
                    font-size: 30px;
                    background: #307aff;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                }
            }
        }
    }
}