.footer {
    height: 70px;
    background: #64b9e5;

    .footer-content {
        text-align: center;
        .left {
            padding-top: 10px;
        }

        .right {
            padding-top: 10px;
        }
    }

}