.home-header-container{
    height: 60px;
    width: 100%;
    padding: 0 20px;

    .home-header-content{
        width: 100%;
        height: 100%;
        display: flex;

        .left-content{
            width: 25%;
            display: flex;
            align-items: center;
            border: 1px solid blue;
            .header-logo{
                background: url('../../assets/logo.png') center center no-repeat;
                height: 100%;
                width: 100%;
                cursor: pointer;
            }
            i {
                font-size: 25px;
                color: gray;
                cursor: pointer;
            }

        }
        .center-content{
            width: 50%;
            border: 1px solid green;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content{
                .subs-title{
                    font-weight: 400;
                    font-size: 12px;
                }
            }

        }
        .right-content{
            width: 25%;
            border: 1px solid violet;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}