//reset slick slider css
.slick-prev {
    left: -10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background-color: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #eceaea !important;
    }
}

.slick-prev:before,
.slick-next:before {
    font-family: FontAwesome !important;
    color: red !important;
}

.slick-next {
    right: -10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background-color: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #eceaea !important;
    }
}


.section-share {
    &.section-specialty {
        background: #f5f5f5;

    }
    &.section-outstanding-doctor{
        background: #f5f5f5;

    }

    .section-body {

        .section-customize {
            .bg-image {
                width: 278px;
                height: 150px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;

                &.section-specialty {
                    background: url('../../assets/specialty/co-xuong-khop.png');

                }

                &.section-medical-facility {
                    background: url('../../assets/medical-facility/co-so-y-te.png');
                }

                &.section-outstanding-doctor{
                    background: url('../../assets//outstanding-doctor/doctor.png');
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }

                &.section-handbook{
                    background: url('../../assets/handbook/handbook.png');
                }
            }
        }
    }
}


.section-share {
    height: 330px;

    .section-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    color: #fff;
                    background: #f7d800;
                }
            }
        }
    }
}

.section-outstanding-doctor{
    .outer-bg{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}

.section-customize{
    padding: 5px;
    .customize-border{
        border: 1px solid violet;
        padding: 20px;
    }
}