@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;
    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            background-color: darken($colormain, 5);
        }
        i {
            font-size: $base-size + 1px;
        }
    }
    .language{
        .language-en{
            margin-right: 15px;
            margin-left: 10px;
            cursor: pointer;
            opacity: 0.8;

            &.active{
                opacity: 1;
                color: rgb(43, 241, 17);
            }
        }
        .language-vi{

            cursor: pointer;
            opacity: 0.8;
            &.active{
                opacity: 1;
                color: orange;
            }
        }
    }
}